/* static/styles.css */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f5f5f5;
}

#itemTypeFormInner, 
#categoryFormInner,
#departmentFormInner,
#machineFormInner{
    display: flex;
    align-items: center;
	margin-bottom: 10px;
}

#itemTypeInputs,
#categoryInputs,
#departmentInputs,
#machineInputs {
    display: flex;
    align-items: center;
}

#itemTypeFormInner label,
#categoryFormInner label,
#departmentFormInner label,
#machineFormInner label {
    margin-left: 5px;
}

.btn-red {
    background-color: red;
    color: white;
}

.btn-blue {
    background-color: blue;
    color: white;
}

.btn-green {
    background-color: green;
    color: white;
}

.recipe-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
}

.recipe-item label, .recipe-item input, .recipe-item select {
    margin-right: 10px;
    margin-bottom: 5px;
}

.input-group {
    display: flex;
    align-items: center;
}

.button-group {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.button-group button {
    margin-right: 10px;
}

.remove-ingredient {
    margin-left: 10px;
}
